{{ define "main" }}
  {{ .Content }}
  <hr class="text-fg-dim mt-4 mb-4 ml-8 mr-8" />
  {{ range .Pages }}
    <h2 class="text-xl font-semibold">
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    </h2>
    <h4 class="text-fg-dim text-sm list-meta">
      in
      {{ partial "terms.html" (dict "taxonomy" "filetags" "page" .) }}
    </h4>
  {{ end }}
{{ end }}
