{{ define "main" }}
  {{ $parts := strings.Split .Title ":" }}
  {{ $title := .Title }}
  {{ if gt (len $parts) 1 }}
    {{ $title = index $parts 1 }}
  {{ end }}


  <h3>
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <time class="text-fg-dim" datetime="{{ $dateMachine }}">
      {{ $dateHuman }}
    </time>
    {{ if gt (len $parts) 1 }}
      in
      <span class="text-fg-dim">
        {{- index $parts 0 -}}
      </span>
    {{ end }}
  </h3>
  <h1 class="text-3xl inline">{{ $title }}</h1>
  <hr />

  <article
    class="prose dark:prose-invert max-w-none prose-headings:font-normal"
  >
    {{ .Content }}
    {{ partial "backlinks.html" (dict "page" .) }}
  </article>
{{ end }}
