{{ define "main" }}
  <div class="flex flex-col-reverse md:flex-row gap-2 px-0 md:px-8 items-start">
    <img
      src="{{ .Params.image }}"
      alt="{{ .Params.imageAlt }}"
      class="max-w-full md:max-w-[50%]"
    />

    <div class="px-8">
      <article
        class="prose dark:prose-invert max-w-none prose-headings:font-normal"
      >
        {{ .Content }}
      </article>
      <section class="mt-4">
        <span>If you want to talk to me in person, catch me at</span>
        {{ partial "upcoming.html" . }}
      </section>
    </div>
  </div>
{{ end }}
