{{ define "main" }}
  <h2 class="text-2xl font-semibold">now</h2>
  {{ $dateMachine := .Lastmod | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Lastmod | time.Format ":date_long" }}
  <h3 class="font-slim text-fg-dim">
    Last updated: <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
  </h3>
  <article
    class="prose dark:prose-invert max-w-none prose-headings:font-normal"
  >
    {{ .Content }}
  </article>
{{ end }}
