{{ define "main" }}
  {{ range .Params.projects }}
    <h2 class="text-xl font-semibold">
      <a href="{{ .url }}">{{ .name }}</a>
    </h2>
    <p>
      {{ transform.Markdownify .description }}
    </p>
  {{ end }}
{{ end }}
