{{ define "main" }}
  <article
    class="prose dark:prose-invert max-w-none prose-headings:font-normal"
  >
    {{ .Content }}
  </article>
  {{ range .Params.publications }}
    {{ $dateMachine := .date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .date | time.Format ":date_long" }}
    <h2 class="text-xl font-semibold">
      <a href="{{ .url }}">{{ .name }}</a>
    </h2>
    <h3 class="text-fg-dim text-sm list-meta">
      {{ $dateMachine := .date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .date | time.Format ":date_long" }}
      <time datetime="{{ $dateMachine }}">
        {{ $dateHuman }}
      </time>
      ,
      {{ .type }}
    </h3>

    <p>
      {{ transform.Markdownify .description }}
    </p>
  {{ end }}
{{ end }}
