{{ define "main" }}
  {{ .Content }}
  {{ range .Pages.ByPublishDate.Reverse }}
    <h3 class="text-xl font-semibold">
      {{ if gt (len .Content) 0 }}
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ else }}
        {{ .Title }}
      {{ end }}
    </h3>
    <figure>
      <img src="{{ .Params.img }}" />
      <figcaption class="mt-2 text-fg-dim italic">
        {{ .Params.description }}
      </figcaption>
    </figure>
  {{ end }}
{{ end }}
