{{ define "main" }}
  <figure class="mb-2">
    <img src="{{ .Params.img }}" alt="{{ .Params.description }}" />
  </figure>
  <h2 class="text-3xl">{{ .Description }}</h2>
  <h3>
    {{ $dateMachine := .Lastmod | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Lastmod | time.Format ":date_long" }}
    <time class="text-fg-dim" datetime="{{ $dateMachine }}">
      {{ $dateHuman }}
    </time>
  </h3>

  <hr class="bg-fg-dim border-0 h-px my-2" />
  {{- if gt (len .Content) 0 }}
    <article
      class="prose dark:prose-invert max-w-none prose-headings:font-normal"
    >
      {{ .Content }}
    </article>
  {{- else }}
    <h6 class="italic text-fg-dim">Nothing here</h6>
  {{- end }}
{{ end }}
