{{ block "replaceAll" . }}
  <!doctype html>
  <html
    lang="{{ site.Language.LanguageCode }}"
    dir="{{ or site.Language.LanguageDirection `ltr` }}"
  >
    <head>
      {{ partial "head.html" . }}
    </head>
    <body>
      <header class="h-card">{{ partial "header.html" . }}</header>
      <main>{{ block "main" . }}{{ end }}</main>
      <footer>{{ partial "footer.html" . }}</footer>
    </body>
  </html>
{{ end }}
