{{ define "main" }}
  <div class="flex flex-col-reverse md:flex-row gap-2 px-0 md:px-8 items-start">
    <img
      src="{{ .Params.image }}"
      alt="{{ .Params.imageAlt }}"
      class="max-w-full md:max-w-[50%]"
    />
    <div class="px-8">
      <section>
        {{ .Content }}
      </section>
      <section class="mt-4">
        <span>Upcoming and recent events I'm attending:</span>
        {{ partial "upcoming.html" . }}
      </section>
    </div>
  </div>
{{ end }}
