{{ define "main" }}
  {{ .Content }}
  {{ range .Pages }}
    <h2 class="text-xl font-semibold">
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    </h2>
    <h4 class="text-fg-dim text-sm list-meta">
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <time datetime="{{ $dateMachine }}">
        {{ $dateHuman }}
      </time>
      in
      {{ partial "terms.html" (dict "taxonomy" "categories" "page" .) }}
    </h4>
    <p>
      {{ .Description }}
    </p>
  {{ end }}
{{ end }}
