:root {
  --color-fg-main: #151a27;
  --color-fg-dim: #676470;
  --color-bg-main: #edf4f8;
  --color-bg-dim: #e0e7ef;
  --color-red: #c3303a;
  --color-green: #007010;
  --color-yellow: #805a1f;
  --color-blue: #375cc6;
  --color-magenta: #80308f;
  --color-grey: #afb8c3;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-fg-main: #eaedef;
    --color-fg-dim: #969faf;
    --color-bg-main: #131c2b;
    --color-bg-dim: #1d2c39;
    --color-red: #ff6f6f;
    --color-green: #41bf4f;
    --color-yellow: #d0d24f;
    --color-blue: #57b0ff;
    --color-magenta: #f59acf;
    --color-grey: #4a5664;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Atkinson Hyperlegible";
    font-style: normal;
    src: url(/fonts/Atkinson-Hyperlegible-Regular-102a.woff2) format("woff2");
  }
  @font-face {
    font-family: "Atkinson Hyperlegible Bold";
    font-style: bold;
    src: url(/fonts/Atkinson-Hyperlegible-Bold-102a.woff2) format("woff2");
  }
  @font-face {
    font-family: "Atkinson Hyperlegible Italic";
    font-style: italic;
    src: url(/fonts/Atkinson-Hyperlegible-Italic-102a.woff2) format("woff2");
  }
}
html {
  height: 100%;
}

body {
  display: grid;
  min-height: 100%;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  @apply bg-bg-main text-fg-main xl:max-w-screen-lg xl:ml-auto xl:mr-auto;
}
body > * {
  min-width: 0;
}

@layer components {
  header {
    grid-area: header;
    @apply border-b flex justify-center md:items-center flex-col px-8 md:px-0;
  }
  main {
    grid-area: main;
    @apply py-8 px-8 xl:px-0 xl:max-w-screen-lg;
  }
  footer {
    grid-area: footer;
    @apply p-4 border-t flex border-fg-dim dark:border-grey clear-both text-fg-dim flex-col items-center justify-center;
  }

  .nav-list {
    li {
      display: contents;
    }
    li + li::before {
      content: "|";
    }
  }
  a {
    @apply underline text-blue visited:text-magenta hover:decoration-wavy;
  }

  .highlight pre {
    overflow-x: auto;
  }

  .highlight {
    @apply dark:border-2 border-fg-dim;
  }

  .tag-list {
    display: inline;
    li {
      display: contents;
    }
    li + li::before {
      content: ", ";
    }
  }
  .list-meta {
    a {
      @apply text-fg-dim;
    }
  }

  .in-brackets::before {
    content: "[";
  }

  .in-brackets::after {
    content: "]";
  }
}
