<ul class="nav-list mb-4">
  {{- range .Site.Params.Social }}
    <li>
      <a
        href="{{ .url }}"
        {{- with .rel }}rel="{{ . }}"{{- end }}
      >
        {{ .name }}
      </a>
    </li>
  {{- end }}
</ul>
<div class="flex flex-row gap-2 flex-wrap justify-center">
  {{- range .Site.Params.Badges }}
    {{- if .url }}
      <a href="{{ .url }}">
        <img src="{{ .src }}" alt="{{ .alt }}" />
      </a>
    {{- else }}
      <img src="{{ .src }}" alt="{{ .alt }}" />
    {{- end }}
  {{- end }}
</div>
<p class="text-sm">
  Text under
  <a
    class="underline text-yellow"
    href="https://creativecommons.org/licenses/by-nc/4.0/"
    >CC BY-NC 4.0</a
  >
</p>
<p class="text-sm">
  This website collects anonymous (no cookies) visitor statistics. See them
  <a
    class="underline text-yellow"
    href="https://umami.kulupu.party/share/5CJx1WhhY2WZjZkz/dominik.suess.wtf"
  >
    here
  </a>
</p>
