<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end }}
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}

{{ if not hugo.IsServer }}
<script defer src="https://umami.kulupu.party/script.js" data-website-id="efba8689-0638-47a8-b847-b3a21bed8a03"></script>
{{- end -}}
<script defer>
  document.addEventListener("DOMContentLoaded", (event) => {
    document.querySelectorAll('a[href^="denote:"]').forEach(e =>
        e.href = '../' + e.href.toLowerCase().replace(/^denote:/,'') + '/'
    );
  });
</script>
