<h1 class="text-6xl text-fg-main mt-10">{{ site.Params.FirstName }} <span class="text-blue dark:text-yellow">{{ site.Params.LastName }}</span></h1>
<h2 class="text-2xl text-fg-dim mb-10">{{ site.Params.Info }}</h2>
<nav class="mb-2">{{ partial "menu.html" (dict "menuID" "main" "page" .) }}</nav>
