
{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
<ul class="nav-list">
  {{- range . }}
      <li>
        <a
          href="{{.URL}}"
          {{- if $page.IsMenuCurrent .Menu . }}
          aria-current="page"
          class="text-red visited:text-red underline decoration-wavy"
          {{ else if $page.HasMenuCurrent .Menu . }}
          aria-current="ancestor"
          class="text-red visited:text-red underline decoration-wavy"
          {{- end }}
      >{{ .Name }}</a>
    </li>
  {{- end }}
  </ul>
{{- end }}

