{{ $events := where .Site.RegularPages "Type" "events" }}
{{ $filteredEvents := slice }}
{{ range $events }}
  {{ $eventDate := (time.AsTime .Params.eventDate) }}
  {{ if gt $eventDate (now.AddDate 0 0 -30) }}
    {{ $filteredEvents = $filteredEvents | append . }}
  {{ end }}
{{ end }}
{{- with $filteredEvents }}
  <ul class="list-disc">
    {{ range . }}
      {{ $eventDate := (time.AsTime .Params.eventDate) }}
      {{ $dateMachine := $eventDate | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := $eventDate | time.Format ":date_long" }}
      <li>
        <time datetime="{{ $dateMachine }}">
          {{ $dateHuman }}
        </time>
        »
        <a
          {{- if gt (len .Content) 0 }}
            href="{{ .RelPermalink }}"
          {{- else }}
            href="{{ .Params.eventURL }}"
          {{- end }}
          >{{ .Title }}</a
        >
      </li>
    {{ end }}
  </ul>
{{- end }}
  {{- if eq (len $filteredEvents) 0 }}
  <p class="text-fg-dim"><i>No upcoming appearances</i>&nbsp;<code>:(</code></p>
{{- end }}
