{{ define "main" }}
  {{ .Content }}
  {{ range .Pages.ByLastmod }}
    <h2 class="text-xl font-semibold">
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    </h2>
    <ul class="list-disc list-inside">
      {{- range .Params.slides }}
      <li>
        {{- if .eventURL }}
        <a class="text-fg-dim no-underline" href="{{ .eventURL }}">{{ .variant }}</a>
        {{- else }}
        <span>{{ .variant }}</span>
        {{- end }}
        {{- if .slidesURL }}
        <a class="in-brackets" href="{{ .slidesURL }}">slides</a>
        {{- end }}
        {{- if .recordingURL }}
        <a class="in-brackets" href="{{ .recordingURL }}">recording</a>
        {{- end }}
      </li>
      {{- end }}
      </ul>
  {{ end }}
{{ end }}
