{{ define "main" }}
  <h3>
    {{ $dateMachine := .Lastmod | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Lastmod | time.Format ":date_long" }}
    <time class="text-fg-dim" datetime="{{ $dateMachine }}">
      {{ $dateHuman }}
    </time>
    in
    {{ partial "terms.html" (dict "taxonomy" "categories" "page" .) }}
  </h3>
  <h1 class="text-3xl">{{ .Title }}</h1>
  <h3 class="text-lg text-fg-dim italic">{{ .Description }}</h3>
  <hr class="bg-fg-dim border-0 h-px my-2" />
  
  {{- if gt (len .Content) 0 }}
  <article class="prose dark:prose-invert max-w-none prose-headings:font-normal">
    {{ .Content }}
  </article>
  {{- else }}
  <h6 class="italic text-fg-dim">No summary exists for this talk</h6>
  {{- end }}
{{ end }}
